<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <title>表单</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script>
        // 输入检查函数
        function checkInputs() {
            const inputs = document.querySelectorAll('input[type="text"]');
            let flags = new Array(5);
            inputs.forEach(function (input) {
                const value = parseInt(input.value);
                if (!isNaN(value)) {
                    flags[value - 1] = true;
                }
            });
            let allTrue = true;
            for (let i = 0; i < flags.length; i++) {
                if (!flags[i]) {
                    allTrue = false;
                    break;
                }
            }

            if (allTrue === true) {
                document.getElementById('submitBtn').disabled = false;
                document.getElementById('errorMsg').style.display = 'none';
            } else {
                document.getElementById('submitBtn').disabled = true;
                document.getElementById('errorMsg').style.display = 'block';
            }
        }

        // 表单回传函数
        function submitForm() {
            var input1 = document.getElementById('input1').value;
            var input2 = document.getElementById('input2').value;
            var input3 = document.getElementById('input3').value;
            var input4 = document.getElementById('input4').value;
            var input5 = document.getElementById('input5').value;
            // 创建一个包含输入值的对象
            var data = {
                input1: input1,
                input2: input2,
                input3: input3,
                input4: input4,
                input5: input5
            };
            // 使用 Fetch API 或其他方式将数据发送到 Flask 业务
            fetch('/getRank', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(function (response) {
                    // 处理响应
                    console.log(response);
                })
                .catch(function (error) {
                    // 处理错误
                    console.error(error);
                });
            alert('提交成功！\n如果想更改排序请重新输入密码提交')
            window.location.href = "{{ url_for('index') }}";
        }
    </script>
    <style>
        .photo {
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-right: 10px;
        }
    </style>
</head>


<body>
<div class="container">
    <form onsubmit="event.preventDefault(); submitForm();">
        <div class="row mb-3">
            <label for="input1" class="col-sm-2 col-form-label">第一位同学的排位：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input1" name="input1" oninput="checkInputs()">
            </div>
        </div>

        <div class="row mb-3">
            <label for="input2" class="col-sm-2 col-form-label">第二位同学的排位：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input2" name="input2" oninput="checkInputs()">
            </div>
        </div>

        <div class="row mb-3">
            <label for="input3" class="col-sm-2 col-form-label">第三位同学的排位：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input3" name="input3" oninput="checkInputs()">
            </div>
        </div>

        <div class="row mb-3">
            <label for="input4" class="col-sm-2 col-form-label">第四位同学的排位：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input4" name="input4" oninput="checkInputs()">
            </div>
        </div>

        <div class="row mb-3">
            <label for="input5" class="col-sm-2 col-form-label">第五位同学的排位：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input5" name="input5" oninput="checkInputs()">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary" id="submitBtn" disabled>提交</button>
            </div>
        </div>

        <div class="alert alert-danger" id="errorMsg" role="alert" style="display: none;">
            <div class="col-sm-10 offset-sm-2">
                <p>请用1-5的整数不重复填写五个文本框</p>
            </div>
        </div>

    </form>
</div>
<script src="/static/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">第一组信息</h5>
                    <p class="card-text">年龄: {{age1}}</p>
                    <p class="card-text">年级: {{grade1}}</p>
                    <p class="card-text">身份类别: {{cate1}}</p>
                    <p class="card-text">身高: {{height1}}</p>
                    <p class="card-text">体重: {{weight1}}</p>
                    <p class="card-text">家乡: {{home1}}</p>
                    <p class="card-text">规划发展地: {{workplace1}}</p>
                    <p class="card-text">星座: {{constellation1}}</p>
                    <p class="card-text">兴趣爱好: {{hobby1}}</p>
                    <p class="card-text">自我介绍: {{intro1}}</p>
                    <div class="d-flex">
                        <img id="photo1" class="photo" src="photo1.jpg" alt="无照片">
                    </div>
                    <script>
                        // 假设从后端获取的数据为photoData，是一个包含照片路径的数组
                        var photoString = '{{photo_data1}}';
                        var photoData = photoString.split(',');
                        console.log(photoData)
                        // var photoData = ['photo1.jpg', 'photo2.jpg', 'photo3.jpg', 'photo3.jpg'];

                        // 获取包含照片的父元素
                        var photoContainer = document.querySelector('.d-flex');

                        // 清空父元素中的内容
                        photoContainer.innerHTML = '';

                        // 根据数据的长度动态生成对应数量的img标签
                        for (var i = 0; i < photoData.length; i++) {
                            var img = document.createElement('img');
                            img.className = 'photo';
                            img.src = photoData[i];
                            img.alt = '照片' + (i + 1);
                            photoContainer.appendChild(img);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加其他组信息的卡片 -->
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">第二组信息</h5>
                    <p class="card-text">年龄: {{age2}}</p>
                    <p class="card-text">年级: {{grade2}}</p>
                    <p class="card-text">身份类别: {{cate2}}</p>
                    <p class="card-text">身高: {{height2}}</p>
                    <p class="card-text">体重: {{weight2}}</p>
                    <p class="card-text">家乡: {{home2}}</p>
                    <p class="card-text">规划发展地: {{workplace2}}</p>
                    <p class="card-text">星座: {{constellation2}}</p>
                    <p class="card-text">兴趣爱好: {{hobby2}}</p>
                    <p class="card-text">自我介绍: {{intro2}}</p>
                    <div class="d-flex">
                        <img id="photo2" class="photo" src="photo1.jpg" alt="无照片">
                    </div>
                    <script>
                        // 假设从后端获取的数据为photoData，是一个包含照片路径的数组
                        var photoString = '{{photo_data2}}';
                        var photoData = photoString.split(',');
                        console.log(photoData)
                        // var photoData = ['photo1.jpg', 'photo2.jpg', 'photo3.jpg', 'photo3.jpg'];

                        // 获取包含照片的父元素
                        var photoContainer = document.querySelector('.d-flex');

                        // 清空父元素中的内容
                        photoContainer.innerHTML = '';

                        // 根据数据的长度动态生成对应数量的img标签
                        for (var i = 0; i < photoData.length; i++) {
                            var img = document.createElement('img');
                            img.className = 'photo';
                            img.src = photoData[i];
                            img.alt = '照片' + (i + 1);
                            photoContainer.appendChild(img);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">第三组信息</h5>
                    <p class="card-text">年龄: {{age3}}</p>
                    <p class="card-text">年级: {{grade3}}</p>
                    <p class="card-text">身份类别: {{cate3}}</p>
                    <p class="card-text">身高: {{height3}}</p>
                    <p class="card-text">体重: {{weight3}}</p>
                    <p class="card-text">家乡: {{home3}}</p>
                    <p class="card-text">规划发展地: {{workplace3}}</p>
                    <p class="card-text">星座: {{constellation3}}</p>
                    <p class="card-text">兴趣爱好: {{hobby3}}</p>
                    <p class="card-text">自我介绍: {{intro3}}</p>
                    <div class="d-flex">
                        <img id="photo3" class="photo" src="photo1.jpg" alt="无照片">
                    </div>
                    <script>
                        // 假设从后端获取的数据为photoData，是一个包含照片路径的数组
                        var photoString = '{{photo_data3}}';
                        var photoData = photoString.split(',');
                        console.log(photoData)
                        // var photoData = ['photo1.jpg', 'photo2.jpg', 'photo3.jpg', 'photo3.jpg'];

                        // 获取包含照片的父元素
                        var photoContainer = document.querySelector('.d-flex');

                        // 清空父元素中的内容
                        photoContainer.innerHTML = '';

                        // 根据数据的长度动态生成对应数量的img标签
                        for (var i = 0; i < photoData.length; i++) {
                            var img = document.createElement('img');
                            img.className = 'photo';
                            img.src = photoData[i];
                            img.alt = '照片' + (i + 1);
                            photoContainer.appendChild(img);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">第四组信息</h5>
                    <p class="card-text">年龄: {{age4}}</p>
                    <p class="card-text">年级: {{grade4}}</p>
                    <p class="card-text">身份类别: {{cate4}}</p>
                    <p class="card-text">身高: {{height4}}</p>
                    <p class="card-text">体重: {{weight4}}</p>
                    <p class="card-text">家乡: {{home4}}</p>
                    <p class="card-text">规划发展地: {{workplace4}}</p>
                    <p class="card-text">星座: {{constellation4}}</p>
                    <p class="card-text">兴趣爱好: {{hobby4}}</p>
                    <p class="card-text">自我介绍: {{intro4}}</p>
                    <div class="d-flex">
                        <img id="photo4" class="photo" src="photo1.jpg" alt="无照片">
                    </div>
                    <script>
                        // 假设从后端获取的数据为photoData，是一个包含照片路径的数组
                        var photoString = '{{photo_data4}}';
                        var photoData = photoString.split(',');
                        console.log(photoData)
                        // var photoData = ['photo1.jpg', 'photo2.jpg', 'photo3.jpg', 'photo3.jpg'];

                        // 获取包含照片的父元素
                        var photoContainer = document.querySelector('.d-flex');

                        // 清空父元素中的内容
                        photoContainer.innerHTML = '';

                        // 根据数据的长度动态生成对应数量的img标签
                        for (var i = 0; i < photoData.length; i++) {
                            var img = document.createElement('img');
                            img.className = 'photo';
                            img.src = photoData[i];
                            img.alt = '照片' + (i + 1);
                            photoContainer.appendChild(img);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">第五组信息</h5>
                    <p class="card-text">年龄: {{age5}}</p>
                    <p class="card-text">年级: {{grade5}}</p>
                    <p class="card-text">身份类别: {{cate5}}</p>
                    <p class="card-text">身高: {{height5}}</p>
                    <p class="card-text">体重: {{weight5}}</p>
                    <p class="card-text">家乡: {{home5}}</p>
                    <p class="card-text">规划发展地: {{workplace5}}</p>
                    <p class="card-text">星座: {{constellation5}}</p>
                    <p class="card-text">兴趣爱好: {{hobby5}}</p>
                    <p class="card-text">自我介绍: {{intro5}}</p>
                    <div class="d-flex">
                        <img id="photo5" class="photo" src="photo1.jpg" alt="无照片">
                    </div>
                    <script>
                        // 假设从后端获取的数据为photoData，是一个包含照片路径的数组
                        var photoString = '{{photo_data5}}';
                        var photoData = photoString.split(',');
                        console.log(photoData)
                        // var photoData = ['photo1.jpg', 'photo2.jpg', 'photo3.jpg', 'photo3.jpg'];

                        // 获取包含照片的父元素
                        var photoContainer = document.querySelector('.d-flex');

                        // 清空父元素中的内容
                        photoContainer.innerHTML = '';

                        // 根据数据的长度动态生成对应数量的img标签
                        for (var i = 0; i < photoData.length; i++) {
                            var img = document.createElement('img');
                            img.className = 'photo';
                            img.src = photoData[i];
                            img.alt = '照片' + (i + 1);
                            photoContainer.appendChild(img);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
